[core]
    editor = vim -c \"set fenc=utf-8\"
    excludesfile = /Users/miseyu/.gitignore_global
[user]
    name = Yuji Mise
    email = miseyu2000@gmail.com
[pull]
    rebase = merges
[merge]
    ff=false
[ghq]
    root = /Users/miseyu/git/src
[push]
    default = simple

[commit]
    gpgsign = true
